################################################################################
# Visual Studio / Python
################################################################################

.vs/
bin/
obj/

__pycache__/
*.pyc
